.dark {
  color: $color-dark;
}

.white {
  color: $color-white;
}

.bg-white {
  background-color: $color-white;
}

.bg-dark {
  background-color: $color-dark-2;
}

.bg-gray {
  background-color: $color-gray;
}

.bg-red {
  background-color: $color-red;
}

.bg-green {
  background-color: $color-green;
}

.bg-blue {
  background-color: $color-blue;
}

.page-nav {
  display: inline-block;
  padding: 4px 8px;
  margin-right: 8px;
  border: 1px solid $color-gray;
  border-radius: 3px;
  background: $color-white;
  color: $color-dark;
  text-decoration: none !important;
  
  &:hover {
    background: $color-gray;
  }
  
  &.active {
    background: $color-blue;
    color: $color-white;
    border-color: $color-blue;
  }
}
