.mt-40 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 12px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.ml-30 {
  margin-left: 30px;
}

.p-4-8 {
  padding: 2px 6px;
}

.p-5 {
  padding: 5px;
}

.pb-10 {
  padding-bottom: 4px;
}

.pr-10 {
  padding-right: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-8 {
  margin-top: 8px;
}

.p-2-4 {
  padding: 1px 4px;
}
