.right {
  text-align: right;
}

.center {
  text-align: center;
}

.bold {
  font-weight: 600;
}

.fs-10 {
  font-size: 10px;
}

.fs-16 {
  font-size: 16px;
}

.fs-20 {
  font-size: 18px;
}

.fs-30 {
  font-size: 24px;
}

.fs-45 {
  font-size: 32px;
}

.upper {
  text-transform: uppercase;
}
